.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  padding: 30px 4% 30px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  z-index: 1000;
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
a {	
  text-decoration: none;
}
.pc-nav {
  margin: 0 0 0 auto;
}
ul {
  list-style: none;
  margin: 0 100px 0 0;
  display: flex;
}
li {
  margin: 0 0 0 15px;
  font-size: 14px;
}
.work-list {
  background-color: #fff;
  margin: 100px 16px;
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  z-index: 100;
  /* align-items: center; */
}
.work {
  background-color: #fff;
  /* padding: 10px 40px; */
  margin: 50px 20px;
  display: flex;
  box-sizing: border-box;
  border:2px solid #ccc;
  /* margin: 0; */
  /* padding: 20px; */
  width: 33.33333333%;
  height: 250px;
  border-radius: 40px;
}
.work img {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  width: 40%;
  object-fit: cover;
}
.sentences {
  margin-left: auto;
  padding: 5px;
  width: 66%;
}
.pmwork {
  border-bottom: solid 8px #e6c5cf;
  position: relative;
  /* background: linear-gradient(transparent 50%, #e6c5cf 70%); */
}
.codework {
  border-bottom: solid 8px #a7d6ff;
  position: relative;
  /* background: linear-gradient(transparent 50%, #a7d6ff 70%); */
}
.pmwork:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 8px #ffc778;
  bottom: -8px;
  width: 30%;
}
.codework:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 8px #ffc778;
  bottom: -8px;
  width: 30%;
}
.logo {
  width: 500px;
  height: 390px;
}