.top-container {
    display: flex;
}
.top-container h2 {
    font-size: 3em;
}
.left-area {
    background-color: #87a8ff;
    width: 50%;
    height: 600px;
    border-radius: 40px;
}
.right-area {
    background-color: #87e9ff;
    width: 50%;
    height: 600px;
    border-radius: 40px;
}